@model IEnumerable<CodLuckManagement.CodeFirst.Models.Employee>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>EmpId</th>
            <th>EmpName</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Date of Birth</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.EmpId</td>
                <td>@employee.EmpName</td>
                <td>@employee.Email</td>
                <td>@employee.Phone</td>
                <td>@employee.Dob.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>
